*, 
*::before, *::after, 
*:before, *:after { 
box-sizing : border-box;
}


/*** Tabla ***/
table {
    margin: auto;
    padding-top: 2rem;
}

th, td {
    padding: 0.5rem 2rem;

}

th {
    background-color: rgb(185, 75, 75);
    color: aliceblue;
}

td {
    background-color: rgb(215, 239, 255)
}


/*** Estilo Imágenes!! ***/
img {
    width: 100%;
    display: block;  
}

div.imagentexto, figure {
    margin: 0;
    width: 70%;
    max-width: 900px;
    border: 1px solid;
    margin: auto;
}

div.imagen_about {
    margin-left: 10%;
    width: 20%;
    max-width: 300px;
    border: 1px solid;
    display: inline-block;
}

/*** body ***/
header {
    background-color: firebrick;
    color: beige;
    padding-bottom: 0.5rem;

}

h1 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    /* text-align: left; */ 
}

header a {
    text-decoration: none; 
    color: beige
}

.icono_inicio {
    font-size: 2rem;
    float: right;
    padding-right: 2rem;
}

.icono_inicio:hover {
    font-size: 2.5rem;
}

div.icono_inicio a {
    text-decoration: none;
    color: beige;
}

span.size_letras {
    font-size: 1.2rem;
}

nav {
    padding-left: 2rem;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
/*     margin-right: -4px; */
}

nav li:hover {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

nav a {
    padding: 0.5rem 1.5rem;
    background-color: beige;
    color: firebrick;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

main {
    padding: 2rem 10%
}


/*** footer ***/
footer {   
    padding-bottom: 20vh;
    background-color: firebrick;
    color: beige;
}

 footer>div {
    width: 40%;
    text-align: center;
    padding-top: 2rem;    
    margin-bottom: 20hv;
    margin-left: auto;
    margin-right: auto;
 }


 /*** about ***/
article.article_about {
    margin-bottom: 5rem;
}

p.about{
    float: left;
    width: 60%;
}