//reset
/* body,h1,h2, h3, figure, nav{
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;

} */
*, 
*::before, *::after, 
*:before, *:after { 
box-sizing : border-box;
}

body {
    background-color: bisque;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: 'Lobster', cursive;
        font-size: 2rem;
    }
    
.tabla {
    th, td {
    padding: 0.8rem 2rem; 
}

th {
    background-color: maroon;
    color: bisque

}

td {
    background-color: bisque
}}}