* {
    box-sizing: border-box;
}

section {
    display: flex;
    background-color: darkcyan;
    flex-direction: row;
}

div {
    font-size: 3rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: salmon;

}