* {
    box-sizing: border-box;
}

/*** Establecer una Imagen como título de la página web, con un h1 incluido no visible ***/
header h1 {
    height: 20rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkolivegreen;
    background-image: url("../Assets/Disney_Logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

header span {
    display: none;
}
