body {
    background-color: brown;
    color: bisque;
}
h1 {
    font-family: 'Lobster', cursive;
}

footer {
    border-top: 1px solid;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
}


@media screen and (min-width:620px ) {
    h1 { 
        font-size: 2.3rem;
        padding-left: 1rem;
    }
    .wrapper_flex {
        display: flex;
        section {
            padding-left: 1rem;
            padding-right: 1rem;
            flex: 0 1 75%;
        }
        aside {
            padding-left: 1rem;
            padding-right: 1rem;
            flex: 0 1 25%;
        }
    }
}

@media screen and (min-width:820px ) {
    h1 { 
        font-size: 2.5rem;
        padding-left: 2rem;
    }
    .wrapper_columns {
       /* column-count: 2;
       column-gap: 2rem; */
        display: flex;
        align-items: flex-start;
        .wrapper_item_flex {
            width: 50%;
            padding: 0 1rem;
            p:nth-of-type(1) {
                margin-top: 0;
            }
        }
    }
    section {
        background-color: rgb(146, 73, 73);
        h2 {
            padding-left: 1rem;
        }
    }
}
