body {
    margin-top: 0rem;
}
header {
    margin-top: 0rem;
    margin-bottom: 2rem;
    height: 4rem;
    background-color: maroon;
    color: bisque
    }
h1 {
    margin-top: 0;
   
    text-align: center;
    line-height: 4rem;
}
p { text-align: justify;
text-indent: 3rem;
    width: 56.8%; 
    margin-left: auto;
    margin-right: auto; }