body {
    margin: 0rem;   
}

header{
    margin-bottom: 2rem;
    height: 4rem;
    background-color: darkolivegreen;
    color: antiquewhite;
}

h1 { 
margin-top: 0rem;
text-align: center;
line-height: 4rem;
}

/* centrar párrafos */
p {
text-align: center;
width: 50%;
margin-left: auto;
margin-right: auto;
}