
section>div {
    width: 8rem;
    height: 8rem;
    background-color: chartreuse;
    /* opacity: 0.5; Se hereda al hijo!! */
}


/* transparencia */
section>div>div {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1px solid;
    background-color: rgb(138, 43, 226, 0.5); /* -> no se hereda, simplemente se le asigna al objeto. */ 
}

/* Gradiente */
aside>div{
    width: 8rem;
    height: 8rem;
    background: linear-gradient(chartreuse, blueviolet)
}   
